body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: aliceblue;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: pink;
}